@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$font: "Roboto",
sans-serif;

$colors:(primary:#FFFFFF,
  redf:#e53e48,
  text1:#4b4b4b8a,
  top-page:#f5bd46);

@function color($color-name) {
  @return map-get($colors, $color-name);
}



body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  #Nav-bar {

    min-height: 540px;
    color: color(primary);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /*location of company*/
    .location {
      min-height: 28px;
      width: 100%;
      list-style: none;
      
      background-color: color(top-page);
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      font-size: 16px;
      padding-left: 250px;

      .loca-items {
        color: color(primary);
        margin: auto 10px;

        i {
          margin-right: 5px;
        }

        a {
          text-decoration: none;
          color: color(primary);
          margin: auto 5px;
        }
      }
    }
  }

  /*List in nav*/
  .Nav-list {
    min-height: 132px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: color(redf);

    /*items in list*/
    .list-it {
      list-style: none;
      display: flex;

      .nav-items {
        font-size: 16px;
        margin: auto 10px;
        padding: 12px 10px;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
        }
      }
    }

    .list-ic {
      list-style: none;
      display: flex;
      margin-left: 70px;

      .nav-icons {
        font-size: 20px;
        margin: auto 10px;
        color: black;
        padding: 12px 5px;
        display: inline-block;
        flex-wrap: wrap;
      }
    }
  }

  /*set up picture*/
  #product-pic {
    height: 430px;
    width: 100%;
    background-color: rgb(235, 159, 201);
    margin-top: auto;
  }

  /*Layout-I*/
  #Layout-I {
    margin: 20px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    

    /*dịch vụ cung cấp*/
    #DVCC {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
        font-weight: 400;
      }

      div {
        text-align: center;
        font-family: $font;
        font-size: 18px;
        font-weight: bold;

        p {
          margin: 10px;
          color: color(redf);
        }
      }
    }

    /*gioi thieu */
    #GT {
      
      margin: 20px 300px;
       h2 {
        font-size: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
        font-weight: 400;
       }
      .GT-p {color: color(text1);
        font-weight: normal;
        font-size: 16px;
      }
    }

    /*Tư vấn*/
    #TV {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
        font-weight: 400;
      }

      div {
        text-align: left;
        font-family: $font;
        font-size: 18px;
        font-weight: normal;
        
        a {
          
          color: color(text1);
          text-decoration: none;
          line-height: 1.3em;
        }
      }
    }


  }

  #author-form {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    background-image: url(image/anh-bia-dep-15-696x464.jpg);

    .container {
      color: white;
      margin: 30px auto;

      .author {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px auto;

        .image_author {
          margin: auto 6px;
          overflow: hidden;
          border-radius: 50%;
        }

        .name {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-style: italic;
          font-size: 16px;
          padding-left: 10px;

          .name_author {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
          }
        }
      }

      /*Reviews content*/
      .reviews_content {
        font-style: italic;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: normal;
      }
    }

  }

  /*Tin tức cưới hỏi và đặt lịch*/
  #TTCH {

    display: flex;
    justify-content: center;
    margin: 30px 200px;

    #left {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
          font-size: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
        font-weight: 400;

          a {
            text-decoration: none;
            color: black;
          }
        }

        .text_small {
          font-size: 16px;
          font-style: italic;
          color: color(text1);
          margin: auto 40px 30px;
        }
      }

      /*set up content of Tin Tuc*/
      .container {


        .row {
          display: flex;
          justify-content: center;
          align-items: center;

          .loop-blog {
            margin: 10px;


            h3 {
              font-size: 18px;

              a {
                text-decoration: none;
                color: black;
              }
            }

            .bl {
              display: flex;
              justify-content: center;
              flex-direction: row;

              a {
                margin: auto 10px;
              }

              .small-content {
                font-size: 16px;
                font-weight: 500;
                color: rgb(207, 207, 207);
              }
            }
          }
        }
      }
    }

    /*Form đặt lịch*/
    #right {
      min-width: 380px;

      #Form-DL {
        background-color: rgb(142, 216, 221);
        height: 100%;
        padding: 10px;

        .container {
          height: 100%;
          background-color: rgb(142, 216, 221);
          box-sizing: border-box;
          border: 3px solid white;


          form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            width: 200xp;

            .head-DL {
              h1 {
                font-size: 30px;
                padding-top: 10px;
                font-weight: 400;
              }

              span {
                font-size: 16px;
                font-style: italic;

              }

              a {
                text-decoration: none;
                font-size: 16px;
                font-style: italic;
                color: black;
              }

            }

            .input-box {

              input {
                width: 100%;
                padding: 12px 20px;
                margin: 4px 0;
                box-sizing: border-box;
                border: 1px solid white;
                border-radius: 3px;
              }

              textarea {
                width: 100%;
                padding: 12px 20px;
                margin: 4px 0;
                box-sizing: border-box;
                border: 1px solid white;
                border-radius: 3px;
              }
            }

            .btn-box {
              width: 100%;
              margin-top: 20px;

              button {
                width: 100%;
                padding: 12px 20px;
                margin: 4px 0;
                box-sizing: border-box;
                border: 1px;
                border-radius: 3px;
                background-color: color(redf);
                color: white;
              }
            }
          }
        }
      }

    }


  }

  /*Liên hệ tư vấn*/
  #LHTV {
    width: 100%;

    #TV {

      margin: auto 100px;

      h2 {

        a {
          display: flex;
          justify-content: center;

          color: black;
          text-decoration: none;
          font-weight: 400;
        }
      }

      /*Nội dung tư vấn, sdt*/
      .container {

        h3 {
          font-size: 24px;
          color: rgb(224, 100, 100);
          font-weight: 400;
        }

        div {
          text-align: center;
          font-family: $font;
          font-size: 18px;
          font-weight: normal;
          color: rgb(248, 143, 58);

          a {
            margin: 10px auto;
            color: rgb(248, 143, 58);
            text-decoration: none;
            line-height: 1.3em;
          }
        }
      }

    }
  }


  /*Thanh công cụ*/
  .toolbar_slide {
    position: fixed;
    right: 0;
    bottom: 0;

    .wrap_toolbar {
      margin-bottom: 300px;

      .item_tool {
        border: 1px solid black;
        border-radius: 3px;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
        background-color: white;

        a {
          color: color(redf);
        }
      }
    }
  }

  /*Footer*/
  footer {

    font: normal normal 400 18px/34px Roboto;
    width: 100%;

    .footer_top {
      font-style: italic;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: normal;

      .footer-social {
        p {
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 20px 200px;
          color: color(text1);
        }

        .social-icons {

          display: flex;
          justify-content: center;
          align-items: center;
          height: 80px;

          li {
            border: 1px solid rgb(165, 165, 165);
            border-radius: 3px;
            width: 46px;
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            background-color: white;

            a {
              list-style: none;
              color: black;

              font-size: 20px;

            }
          }
        }
      }
    }


    /*bottom*/

    .site-footer {
      background-color: color(redf);
      padding-top: 30px;
      padding-bottom: 20px;
      margin-top: 30px;

      .container {
        .widget {

          h4 {
            padding: 10px;

            a {
              color: rgb(243, 154, 91);
            }
          }

          ul {
            list-style: none;
            font: normal normal 400 14px/30px Roboto;

            li {

              color: white;

              a {
                color: white;
              }
            }
          }
        }


      }
    }

    /*end and call*/
    .footer-bottom {
      background-color: color(redf);
      color: white;
      margin: auto;

      .container {
        min-height: 70px;

        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
          font-size: 16px;
          font-weight: 400;
          
        }
        a {
          color: white;
          font-style: italic;
        }

        .phone {
          position: fixed;
          right: 0;
          bottom: 0;

          i {
            border: 1px solid black;
            border-radius: 50%;
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto 60px 60px auto;
            background-color: color(redf);

          }

        }
      }
    }



  }
}
