@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  /*List in nav*/
  /*set up picture*/
  /*Layout-I*/
  /*Tin tức cưới hỏi và đặt lịch*/
  /*Liên hệ tư vấn*/
  /*Thanh công cụ*/
  /*Footer*/
}

body #Nav-bar {
  min-height: 540px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*location of company*/
}

body #Nav-bar .location {
  min-height: 28px;
  width: 100%;
  list-style: none;
  background-color: #f5bd46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  padding-left: 250px;
}

body #Nav-bar .location .loca-items {
  color: #FFFFFF;
  margin: auto 10px;
}

body #Nav-bar .location .loca-items i {
  margin-right: 5px;
}

body #Nav-bar .location .loca-items a {
  text-decoration: none;
  color: #FFFFFF;
  margin: auto 5px;
}

body .Nav-list {
  min-height: 132px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e53e48;
  /*items in list*/
}

body .Nav-list .list-it {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Nav-list .list-it .nav-items {
  font-size: 16px;
  margin: auto 10px;
  padding: 12px 10px;
}

body .Nav-list .list-it .nav-items a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

body .Nav-list .list-ic {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

body .Nav-list .list-ic .nav-icons {
  font-size: 20px;
  margin: auto 10px;
  color: black;
  padding: 12px 5px;
  display: inline-block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #product-pic {
  height: 430px;
  width: 100%;
  background-color: #eb9fc9;
  margin-top: auto;
}

body #Layout-I {
  margin: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  /*dịch vụ cung cấp*/
  /*gioi thieu */
  /*Tư vấn*/
}

body #Layout-I #DVCC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #Layout-I #DVCC h2 {
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  font-weight: 400;
}

body #Layout-I #DVCC div {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

body #Layout-I #DVCC div p {
  margin: 10px;
  color: #e53e48;
}

body #Layout-I #GT {
  margin: 20px 300px;
}

body #Layout-I #GT h2 {
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  font-weight: 400;
}

body #Layout-I #GT .GT-p {
  color: #4b4b4b8a;
  font-weight: normal;
  font-size: 16px;
}

body #Layout-I #TV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #Layout-I #TV h2 {
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  font-weight: 400;
}

body #Layout-I #TV div {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

body #Layout-I #TV div a {
  color: #4b4b4b8a;
  text-decoration: none;
  line-height: 1.3em;
}

body #author-form {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(image/anh-bia-dep-15-696x464.jpg);
}

body #author-form .container {
  color: white;
  margin: 30px auto;
  /*Reviews content*/
}

body #author-form .container .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

body #author-form .container .author .image_author {
  margin: auto 6px;
  overflow: hidden;
  border-radius: 50%;
}

body #author-form .container .author .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: italic;
  font-size: 16px;
  padding-left: 10px;
}

body #author-form .container .author .name .name_author {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

body #author-form .container .reviews_content {
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
}

body #TTCH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 200px;
  /*Form đặt lịch*/
}

body #TTCH #left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*set up content of Tin Tuc*/
}

body #TTCH #left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #TTCH #left .title h2 {
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  font-weight: 400;
}

body #TTCH #left .title h2 a {
  text-decoration: none;
  color: black;
}

body #TTCH #left .title .text_small {
  font-size: 16px;
  font-style: italic;
  color: #4b4b4b8a;
  margin: auto 40px 30px;
}

body #TTCH #left .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #TTCH #left .container .row .loop-blog {
  margin: 10px;
}

body #TTCH #left .container .row .loop-blog h3 {
  font-size: 18px;
}

body #TTCH #left .container .row .loop-blog h3 a {
  text-decoration: none;
  color: black;
}

body #TTCH #left .container .row .loop-blog .bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #TTCH #left .container .row .loop-blog .bl a {
  margin: auto 10px;
}

body #TTCH #left .container .row .loop-blog .bl .small-content {
  font-size: 16px;
  font-weight: 500;
  color: #cfcfcf;
}

body #TTCH #right {
  min-width: 380px;
}

body #TTCH #right #Form-DL {
  background-color: #8ed8dd;
  height: 100%;
  padding: 10px;
}

body #TTCH #right #Form-DL .container {
  height: 100%;
  background-color: #8ed8dd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid white;
}

body #TTCH #right #Form-DL .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 200xp;
}

body #TTCH #right #Form-DL .container form .head-DL h1 {
  font-size: 30px;
  padding-top: 10px;
  font-weight: 400;
}

body #TTCH #right #Form-DL .container form .head-DL span {
  font-size: 16px;
  font-style: italic;
}

body #TTCH #right #Form-DL .container form .head-DL a {
  text-decoration: none;
  font-size: 16px;
  font-style: italic;
  color: black;
}

body #TTCH #right #Form-DL .container form .input-box input {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  border-radius: 3px;
}

body #TTCH #right #Form-DL .container form .input-box textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  border-radius: 3px;
}

body #TTCH #right #Form-DL .container form .btn-box {
  width: 100%;
  margin-top: 20px;
}

body #TTCH #right #Form-DL .container form .btn-box button {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px;
  border-radius: 3px;
  background-color: #e53e48;
  color: white;
}

body #LHTV {
  width: 100%;
}

body #LHTV #TV {
  margin: auto 100px;
  /*Nội dung tư vấn, sdt*/
}

body #LHTV #TV h2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

body #LHTV #TV .container h3 {
  font-size: 24px;
  color: #e06464;
  font-weight: 400;
}

body #LHTV #TV .container div {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #f88f3a;
}

body #LHTV #TV .container div a {
  margin: 10px auto;
  color: #f88f3a;
  text-decoration: none;
  line-height: 1.3em;
}

body .toolbar_slide {
  position: fixed;
  right: 0;
  bottom: 0;
}

body .toolbar_slide .wrap_toolbar {
  margin-bottom: 300px;
}

body .toolbar_slide .wrap_toolbar .item_tool {
  border: 1px solid black;
  border-radius: 3px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px;
  background-color: white;
}

body .toolbar_slide .wrap_toolbar .item_tool a {
  color: #e53e48;
}

body footer {
  font: normal normal 400 18px/34px Roboto;
  width: 100%;
  /*bottom*/
  /*end and call*/
}

body footer .footer_top {
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
}

body footer .footer_top .footer-social p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px 200px;
  color: #4b4b4b8a;
}

body footer .footer_top .footer-social .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

body footer .footer_top .footer-social .social-icons li {
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  background-color: white;
}

body footer .footer_top .footer-social .social-icons li a {
  list-style: none;
  color: black;
  font-size: 20px;
}

body footer .site-footer {
  background-color: #e53e48;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 30px;
}

body footer .site-footer .container .widget h4 {
  padding: 10px;
}

body footer .site-footer .container .widget h4 a {
  color: #f39a5b;
}

body footer .site-footer .container .widget ul {
  list-style: none;
  font: normal normal 400 14px/30px Roboto;
}

body footer .site-footer .container .widget ul li {
  color: white;
}

body footer .site-footer .container .widget ul li a {
  color: white;
}

body footer .footer-bottom {
  background-color: #e53e48;
  color: white;
  margin: auto;
}

body footer .footer-bottom .container {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footer-bottom .container .inner {
  font-size: 16px;
  font-weight: 400;
}

body footer .footer-bottom .container a {
  color: white;
  font-style: italic;
}

body footer .footer-bottom .container .phone {
  position: fixed;
  right: 0;
  bottom: 0;
}

body footer .footer-bottom .container .phone i {
  border: 1px solid black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 60px 60px auto;
  background-color: #e53e48;
}
/*# sourceMappingURL=style.css.map */